/* 
 * 
 * $Associate
 *
**/

.associates {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  width: 100%;

  @include breakpoint(bp2){
    justify-content: flex-start;
  }
}


.associate {
  display: block;
  width: 100%;
  margin-bottom: $space_narrow;

  &:last-of-type { margin-bottom: 0; }
  
  @media (min-width: 420px) {
    max-width: 46%;
  }
  @include breakpoint(bp2){
    max-width: 30%;
    margin-left: 5%;

    &:first-of-type,
    &:nth-of-type(3n+1) { margin-left: 0; }

    &:nth-of-type(4n) { margin-bottom: 0; }

  }
  @include breakpoint(bp4){
    max-width: 17%;
    margin-left: 3.5%;
    margin-bottom: 0;
  
    &:nth-of-type(3n+1) { margin-left: 3.5%; }
    &:first-of-type { margin-left: 0; }
  }
}


.associate__image {
  display: block;
  width: 100%;
  max-width: 180px;
  height: 180px;
  margin-bottom: $ms0;
  background-color: #ccc;
  @include border-radius($curve);
}


.associate__body {
  display: block;
  width: 100%;
  padding-top: $ms-4;
  border-top: 2px solid $brand4;
}


.associate__name {
  @include type-large;
  margin-bottom: 0;
  
  @include breakpoint(bp1){
    @include type-xl;
  }
  @include breakpoint(bp4){
    @include type-large;
  }
}


.associate__role {
  margin-bottom: 0;
  @include type-small;
  text-transform: uppercase;
}
