/* 
 * 
 * $Breadcrumbs
 *
**/

.breadcrumbs {
  display: none;
  position: relative;
  top: 0;
  justify-content: center;
  align-items: center;
  opacity: 1;
  transition: all 0.65s cubic-bezier(0.645, 0.045, 0.355, 1); /* easeInOutCubic */

  ul {
    display: inline-flex;
    margin: 0;
  }

  @include breakpoint(bp2) {
    display: inline-block;
  }
}
.breadcrumbs--home {
  opacity: 0 !important; // override (state) inline styling
  display: none;
}


.breadcrumb {
  display: block;
  margin: 0 $ms-3;

  a {
    display: block;
    margin-bottom: 0;
    @include type-medium;
    color: $brand1;
    transition: all 0.65s cubic-bezier(0.645, 0.045, 0.355, 1); /* easeInOutCubic */

    &:before {
      display: inline-block;
      content: "";
      width: 12px;
      height: 12px;
      border: 2px solid $brand1;
      @include border-radius(100%);
      transition: all 0.65s cubic-bezier(0.645, 0.045, 0.355, 1); /* easeInOutCubic */
    }

    span {
      display: none;
      margin-left: $ms0;
      text-transform: uppercase;
      font-weight: $fw-bold;
      letter-spacing: $space-letters;
    }

    @include breakpoint(bp3) {
      &:hover {
        &:before {
          background-color: $brand1;
        }
      }
    }
  }

  &.current {
    a {
      span {
        display: inline-block;
      }
      &:before {
        background-color: $brand1;
      }
    }
  }
}

.body--white {
  .breadcrumb,
  .sticky-header .breadcrumb {
    a {
      color: $brand2;
      &:before {
        border-color: $brand2;
      }
      @include breakpoint(bp3) {
        &:hover {
          &:before {
            background-color: $brand2;
            border-color: $brand2;
          }
        }
      }
    }
    &.current {
      a {
        &:before {
          border-color: $brand2;
          background-color: $brand2;
        }
      }
    }
  }
}
