/* 
 * 
 * $Button
 *
**/

.button {
  position: relative;
  clear: both;
  display: block;
  width: 100%;
  min-width: 220px;
  padding:$ms0 $ms2 $ms0 $ms0;
  margin:0 0 $space_narrow;
  @include font-body;
  @include type-small;
  text-align: left;
  font-weight:$fw-bold;
  text-transform: uppercase;
  line-height:1;
  letter-spacing: $space-letters;
  text-decoration:none;
  outline:0;
  background-color: transparent;
  cursor:pointer;
  overflow: hidden;
  @include border();
  @include border-radius($curve);
  @include transition();

  &:active,
  &:focus {
    background-image: none;
    outline: 0;
    -webkit-box-shadow: none;
            box-shadow: none;
  } 

  .icon {
    position: absolute;
    top:50%;
    right: $ms-1;
    width:9px;
    transform: translateY(-50%);

    path {
      @include transition(0.3s);
    }
  
    @include breakpoint(bp3){   
      width:11px;
    } 
    @include breakpoint(bp5){    
      right: $ms1;
      width: 13px;
    }
  }    

  span {
    position: relative;
    display: inline-block;
    line-height: 1.1;
    z-index: 1;
  }

  @include breakpoint(bp3){
    max-width: none;
    min-width: 0;
    padding-top:$ms-1;
    padding-bottom:$ms-1;
    margin-bottom:$space_wide/2;
    @include type-medium;
    @include transition(0.3s);

    &:before {
      position: absolute;
      bottom: 0;
      left:0;
      transform: translateY(100%);
      display: block;
      content: '';
      width: 100%;
      height:100%;
      background-color: $brand3;
      @include transition(0.3s);
      z-index: 0;
    } 

    &:hover {
      text-decoration:none;

      &:before {
        transform: translateY(0%);
      }
    }
  }  
}

.button--group {
	@include breakpoint(bp2){
		margin-bottom: 0;
	}
}

.button--contact {
  margin-bottom: 0;
  width: 100%;
  border-top-left-radius: 0;
  border-top-right-radius: 0;

  @include breakpoint(bp2){
    clear:none;
    float: right;
    width: 40%;
    border-top-right-radius: $curve;    
    border-bottom-left-radius: 0;    
  }
}

.button--dark {
  color:$brand1;
  background-color: $brand2;
  border-color: $brand1;

  .icon {
    path { stroke: $brand1; }
  }

  @include breakpoint(bp3){
    &:hover {
      color: $brand2;
      border-color: $brand3;

      .icon {
        path { stroke: $brand2; }
      }
    }
  }
}

.body--white {
  @include breakpoint(bp3){   
    .button {
      &:hover {
        color:$brand2; 
      
        .icon {
          path {
            stroke:$brand2;
          }
        }      
      }
    }
  }  
}