/* 
 * 
 * $Carousel
 *
**/

.carousel {
  position: relative;
  float: left;
  width: 100%;
  @include border();
  border-color: $brand2;
  @include border-radius($curve);
  overflow: hidden;
  @include safari-overflow-fix();
}
.carousel--space {
  margin-bottom: $space_narrow;

  @include breakpoint(bp6){
    margin-bottom: $space_wide;
  }  
}


// Dark theme
.section--black .carousel {
  border-color: $brand1;

  .carousel__item { background-color: $brand2; }
  .carousel__pager .swiper-pagination-bullet { 
    border-color: $brand1; 
    @include breakpoint(bp3){
      &:hover { background-color: $brand1; }
    }  
  }
  .carousel__pager .swiper-pagination-bullet-active { background-color: $brand1; }  
  .carousel__image-wrap {   
    @include breakpoint(bp3){
      border-right-color: $brand1;
    }
  }
}


// Item
.carousel__item {
  display: block;
  width: 100%;
  background-color: $brand1;
  overflow: hidden;
  
  @include breakpoint(bp4){  
    min-height: 370px;  
  }
}
.carousel__item--inline {
  @include breakpoint(bp3){  
    min-height: 0;

    .carousel__body { padding:0; }
  }  
}


// Item Content
.carousel__body {
  display: flex;
  flex-flow: row wrap;
  width: 100%;
  padding:$space_wide $space_narrow $space_narrow*2;

  @include breakpoint(bp3){  
    padding:$ms6 $ms2 $ms5;
  }  
}


// Image & Content
.carousel__image-wrap,
.carousel__content {
  display: block;
  width: 100%;
}


// Text based content
.carousel__content {
  @include breakpoint(bp4){
    display: flex;
    align-items: center;
  }

  p {
    @include font-fancy;
    @include type-large;
    line-height: $ms1;

    &:last-of-type {
      margin-bottom: 0;
    }

    @include breakpoint(bp4){
      @include type-large;
    }
    @include breakpoint(bp6){
      @include type-xl;
      line-height: $ms1 - .125em;
    }
  }  
}
.carousel__content--light {
  p {
    color:$brand1;
  }
}


// Inline carousel item content mods 
.carousel__item--inline {
  .carousel__content { 
    @include breakpoint(bp3){
      width: 70%; 
      padding:$space_narrow $space_narrow*7 $space_narrow $space_narrow*2;
      
      p:last-of-type { margin-bottom: 0; }
    }
  } 
}



// Image
.carousel__image-wrap {
  display: flex;
  margin-bottom: $space_narrow*2;
}

.carousel__image {
  display: block;
  width: 100%;
  max-width: 260px;
}


// Pagination
.carousel__pager {
  position: absolute;
  display: block;
  top:$space_narrow;
  right: $space_narrow;
  z-index: 1;
}


// Swiper Pager Overwrites
.carousel .swiper-pagination-bullet {
  width: 11px;
  height: 11px;
  border:2px solid $brand2;
  background-color: transparent;
  opacity: 1;
  outline: none;
  cursor: pointer;
  @include transition();

  @include breakpoint(bp3){
    margin:0 $ms-2; 

    &:hover {
      background-color: $brand2;
    }
  }
}

.carousel .swiper-container-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet {
  margin:0 $ms-4;

  @include breakpoint(bp3){
    margin:0 $ms-3; 

    &:first-of-type { margin-left: 0; }
    &:last-of-type { margin-right: 0; }
  }  
}

.carousel .swiper-pagination-bullet-active {
  background-color: $brand2;
}