/* 
 * 
 * $Card
 *
**/

.card {
  display: block;
  width: 100%;
  margin-bottom: $space_narrow;
  @include border();
  @include border-radius($curve);
  overflow: hidden;

  &.hover {
    .card__underlay li {
      opacity: 1;
    }
  }

  @include breakpoint(bp4) {
    margin-bottom: 0;
  }
}

.card--space-top {
  margin-top: $space_mid;
}

// Colour variations
.card--blue {
  background-color: $brand5;
}
.card--green {
  background-color: $brand6;
}


// Last single card
.card--last {
  margin-bottom: 0;
}



// Project (within featured cards section)
.card--project {
  margin-bottom: $space_narrow;

  @include breakpoint(bp2) {
    margin-bottom: $space_mid;
  }
  @include breakpoint(bp5) {
    margin-bottom: $space_wide;
  }
}

// Featured Cards
// (hide some on smaller devices)
.card--featured {
  @include breakpoint(bp2) {
    margin-bottom: 0;
  }

  &.card--featured3 {
    margin-bottom: 0;
  }
}

.card--footer {
  border-color: $brand1;

  @include breakpoint(bp4) {
    margin-bottom: $space_narrow * 2;
  }
  @include breakpoint(bp6) {
    margin-bottom: $space_wide;
  }

  .card__body {
    @include breakpoint(bp6) {
      min-height: 120px;
    }
  }
}


// Header/Footer
.card__header,
.card__footer {
  display: block;
  width: 100%;
  margin-bottom: 0;
  overflow: hidden;

  .card__title,
  a {
    position: relative;
    display: block;
    padding: $ms0 $ms-1;
    margin-bottom: 0;
    @include type-small;
    text-transform: uppercase;
    font-weight: $fw-bold;
    letter-spacing: $space-letters;
    line-height: 1;

    @include breakpoint(bp1) {
      padding: $space_narrow $ms2;
    }
    @include breakpoint(bp6) {
      padding: $ms0 $space_narrow;
      @include type-medium;
    }
  }

  a {
    padding-right: $ms4;
    transition: all 0.65s cubic-bezier(0.645, 0.045, 0.355, 1); /* easeInOutCubic */
  }

  .icon-chevron,
  .icon-chevron-down {
    position: absolute;
    top: 50%;
    right: $ms-1;
    transform: translateY(-50%);

    @include breakpoint(bp5) {
      right: $ms1;
    }
  }
}

.card__header {
  border-bottom: 2px solid $brand2;
}


.card__header-image {
	display: block;

	svg,img {
    display: block;
		height: 28px;
    width: auto;
	}

	&:hover {
		cursor: pointer;
	}
}


.card__header--trigger {
  border-bottom-width: 0;

  .icon-chevron-down {
    width: 22px;

    @include breakpoint(bp3) {
      width: 32px;
    }
    @include breakpoint(bp4) {
      display: none;
    }
  }

  // Active state of the header
  &.active {
    .icon-chevron-down {
      top: $space_narrow;
      transform: rotate(180deg);
    }
  }

  @include breakpoint(bp4) {
    border-bottom-width: 2px;
  }
}

// When a header or footer has a link
// Let's set pseudo el to animate on hover
.card__header--link,
.card__footer {
  position: relative;

  .icon-chevron {
    width: 9px;

    @include breakpoint(bp3) {
      width: 11px;
    }
    @include breakpoint(bp5) {
      width: 14px;
    }

    path {
      @include transition(0.3s);
    }
  }

  @include breakpoint(bp3) {
    &:before {
      position: absolute;
      bottom: 0;
      left: 0;
      transform: translateY(108%);
      display: block;
      content: "";
      width: 100%;
      height: 100%;
      background-color: $brand3;
      @include transition(0.3s);
    }

    // Main footer link hover
    &:hover {
      a {
        color: $brand2;

        .icon-chevron {
          path {
            stroke: $brand2;
          }
        }
      }

      &:before {
        transform: translateY(0%);
      }
    }
  }
}


// Footer
.card__footer {
  position: relative;
  border-top: 2px solid $brand2;
  z-index: 1;
}
.card__footer--white {
  background-color: $brand9;
}
.card__footer--pure-white {
  background-color: $brand1;
}


// Title
.card__title--centre {
  text-align: center;
}


// Main body
.card__body {
  position: relative;
  width: 100%;
}
.card__body--project {
  p {
    @include font-fancy;
    @include type-large;
    line-height: $ms0;

    &:last-of-type {
      margin-bottom: $ms-2;
    }

    @include breakpoint(bp2) {
      @include type-medium;
    }
    @include breakpoint(bp4) {
      @include type-large;
    }
    @include breakpoint(bp5) {
      font-size: $ms1 - .125em;
    }
  }
}
.card__body--small {
  p {
    @include type-small;
    line-height: $ms1;

    @include breakpoint(bp3) {
      @include type-medium;
    }
    @include breakpoint(bp4) {
      @include type-small;
    }
  }
}
.card__body--bg {
  @media (max-width: $bp1) {
    background-image: none !important;
  }
  @include breakpoint(bp1) {
    background-position: right top;
    background-size: 440px auto;
    background-repeat: no-repeat;
  }
  @media  (min-width: $bp4) and (max-width: $bp6) {
    background-image: none !important;
  }  
}
.card__body--contact-details {
  @include breakpoint(bp3) {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    min-height: 148px;
  }
}


// Columns
.card__col {
  width: 100%;
  padding: $ms-2;

  p {
    &:last-of-type {
      margin-bottom: 0;
    }
  }  

  @include breakpoint(bp1) {
    padding: $space_narrow;
  }
  @include breakpoint(bp3) {
    padding: $ms0 $space_narrow;
  }
  @media (min-width: 1600px) {
    padding: $ms0 $space_narrow;
  }
}


// Card Image element
.card__image {
  display: flex;
  width: 100%;
	border-bottom: 2px solid $brand2;
}


.card__desc {
	width: 100%;
  padding: $ms-2 $ms-2 $ms-4;

  p {
    &:last-of-type {
      margin-bottom: 0;
    }
  }

  a {
    word-break: break-word;
  }

	@include breakpoint(bp1) {
    padding: $space_narrow;
  }
  @include breakpoint(bp3) {
    padding: $ms0 $space_narrow;
  }
  @media (min-width: 1600px) {
    padding: $ms0 $space_narrow;
  }
}
.card__desc--project {
	@include breakpoint(bp1) {
		padding: $space_narrow;
	}
	@include breakpoint(bp3) {
		padding: $ms0 $space_narrow;
	}
	@media (min-width: 1600px) {
		padding: $ms0 $space_narrow $ms4;
	}
}


// A Card with light text and borders
// For use on dark backgrounds
$light_mode: $brand1;
.card--light-mode {
  border-color: $light_mode;

  .card__header,
  .card__footer,
  .card__col1-2,
  .card__col1-3,
  .card__col2-1,
  .card__col2-3 {
    border-color: $light_mode;
  }

  .card__image {
		border-bottom-color: $light_mode;
		
    svg {
      path,
      polygon,
      line,
      polyline,
      rect, 
      circle {
        fill: $light_mode;
      }
    }
  }

  .card__title,
  .card__col p,
  .card__col p a {
    color: $light_mode;
  }

  .card__col p a {
    @include breakpoint(bp3) {
      &:hover {
        color: $hover;
      }
    }
  }

  .card__header,
  .card__footer {
    .icon {
      path {
        stroke: $light_mode;
      }
    }

    a {
      color: $light_mode;

      .icon {
        path {
          stroke: $light_mode;
        }
      }

      @include breakpoint(bp3) {
        // Dark hover colours on hover
        &:hover {
          color: $brand2;

          .icon {
            path {
              stroke: $brand2;
            }
          }
        }
      }
    }
  }

  .card__footer {
    background-color: $brand2;
  }
  &.card--blue .card__footer,
  &.card--green .card__footer {
    background-color: transparent;
  }

  .card__underlay {
    background-color: $brand1;
    li {
      color: $brand2;
    }
  }
}

.card__underlay {
  display: none;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  padding: $space_narrow;
  background-color: $brand2;
  z-index: 1;
  transform: translateY(105%);
  transition: all 0.5s cubic-bezier(0.645, 0.045, 0.355, 1); /* easeInOutCubic */
  transition-delay: 0.5s;

  @include breakpoint(bp4) {
    display: block;
  }

  ul {
    margin: 0;
    list-style: none;
  }
  li {
    margin-bottom: $ms-6;
    @include type-xsmall;
    color: $brand1;
    line-height: $ms1;
    text-transform: uppercase;
    opacity: 0;
    transform: translate(0,0);
    transition: opacity 0.45s cubic-bezier(0.645, 0.045, 0.355, 1); /* easeInOutCubic */
    // Apply fix for transition wobble on webkit
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;    

    @include breakpoint(bp5) {
      @include type-medium;
    }
  }
}

@for $i from 1 through 8 {
  .card__underlay li:nth-child(#{$i}) {
    transition-delay: 0.175 * $i + 0.75s;
  }
}
