/* 
 * 
 * $Clients
 *
**/

.clients {
  display: flex;
  width: 100%;
  flex-flow: row wrap;
  justify-content: center;
  margin: 0;
  list-style: none;
  @include transition(opacity 0.4s);
  transition-delay: 1s;

  // Fade in clients and stagger images
  &.revealed {
    .client__image {
      animation: fadeIn 0.4s linear both;
      -webkit-animation: fadeIn 0.4s linear both;
    }
  }
}

// Stagger client item fade transitions
@for $i from 1 through 10 {
  .revealed .client:nth-child(#{$i}) .client__image {
    animation-delay: #{$i/5 + 1}s;
  }
}

// Single Client item
.client {
  display: flex;
  align-items: center;
  text-align: center;
  padding: $ms2 $space_narrow;
  margin-bottom: 0;
  border-left: 2px solid $brand2;
  border-bottom: 2px solid $brand2;
  // Apply fix for transition wobble on webkit
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;

  @media all and (min-width: $bp2) and (max-width: $bp3) {
    &:nth-child(9),
    &:nth-child(10) {
      display: none;
    }
    &:nth-child(5),
    &:nth-child(6),
    &:nth-child(7),
    &:nth-child(8) {
      border-bottom: 0;
    }
  }
  @media all and (max-width: 767px) {
    width: 50%;

    &:nth-child(1),
    &:nth-child(3),
    &:nth-child(5),
    &:nth-child(7),
    &:nth-child(9),
    &:nth-child(11) {
      border-left: 0;
    }
    &:nth-child(9),
    &:nth-child(10) {
      border-bottom: 0;
    }
  }
  @media all and (min-width: $bp2) and (max-width: $bp3) {
    width: 25%;

    &:nth-child(1),
    &:nth-child(5),
    &:nth-child(9) {
      border-left: 0;
    }
    &:nth-child(9),
    &:nth-child(10) {
      border-bottom: 0;
    }
  }
  @media all and (min-width: $bp3) {
    width: 100 / 5 * 1%;
    padding: $ms3 $space_narrow;

    &:nth-child(1),
    &:nth-child(6) {
      border-left: 0;
    }

    &:nth-child(1),
    &:nth-child(2),
    &:nth-child(3),
    &:nth-child(4),
    &:nth-child(5) {
      border-top: 0;
    }
    &:nth-child(6),
    &:nth-child(7),
    &:nth-child(8),
    &:nth-child(9),
    &:nth-child(10) {
      border-top: 0;
      border-bottom: 0;
    }
  }
}

.section--black {
  .client {
    border-color: $brand1;
  }
}

.client__image {
  display: block;
  margin: 0 auto;
  text-align: center;

  svg {
    display: block;
    width: 100%;
    max-width: 160px;
    height: auto;

    @include breakpoint(bp7) {
      max-width: 190px;
    }
  }
}

// List of clients
.clientlist {
  float: left;
  width: 100%;
  margin-top: $space_wide;
  padding-bottom: $space_narrow;
  border-bottom: 2px solid $brand1;
}

.clientlist__title {
  position: relative;
  display: flex;
  align-items: center;
  margin-bottom: 0;
  color: $brand1;
  @include type-medium;
  font-weight: $fw-semi-bold;
  text-transform: uppercase;
  cursor: pointer;

  a {
    display: inline-block;
    color: $brand1;
    margin-left: $space_narrow;
    margin-bottom: 0;
  }

  .icon {
    width: 22px;
    height: 22px;

    path {
      stroke: $brand1;
    }

    @include breakpoint(bp3) {
      width: 32px;
      height: 32px;
    }
  }
  .icon-x {
    width: 22px;

    @include breakpoint(bp3) {
      width: 32px;
    }
  }
}

.clientlist__items ul {
  position: relative;
  display: block;
  width: 100%;
  margin: 0;
  list-style: none;
  columns: 2;
  overflow: hidden;
  padding-top: $space_narrow;

  @include breakpoint(bp2) {
    columns: 3;
  }
  @include breakpoint(bp5) {
    columns: 4;
  }

  li {
    margin-bottom: $ms-8;
    @include type-small;
    color: $brand1;
    line-height: $ms0;
    opacity: 1;

    h5 {
      margin-top: $space_narrow;

      @include breakpoint(bp2) {
        margin-top: $space_narrow * 1.5;
      }
    }

    &:first-child {
      h5 {
        margin-top: 0;
      }
    }

    @include breakpoint(bp3) {
      @include type-medium;
      line-height: $ms0;
    }
  }
}
