/* 
 * 
 * $CookiesBanner
 *
**/

.cookies-banner { 
  position:fixed;
  display: none;
	bottom: -200px;
  left:0;
  width:100%;
  padding:$space_narrow/2 0;
  background-color: $brand1; 
  z-index:9;
  animation: .5s slideUp 3s ease-in-out forwards;
  @include transition(.3s);

  &.inactive {
		animation: none;
    bottom: -200px;
  }

  @include breakpoint(bp1){
    flex-flow: unset;
    justify-content: center;
  }
  @include breakpoint(bp1){
    padding:$space_narrow/2 0;
    flex-flow: unset;
  }

  p { 
    margin-bottom: $space_narrow/2;
    text-transform: uppercase;
    @include type-small;
    font-weight: $fw-semi-bold;

    @include breakpoint(bp1){
      margin-bottom: $space_narrow/4;
    }
    @include breakpoint(bp2){
      display: inline-block;  
      margin-bottom: 0;
    }
  }
}

@keyframes slideUp {
  0% {
    bottom: -200px;
  }
  100% {
    bottom: 0;
  }
}


.cookies-banner__inner {
  display: flex;
  width: 100%;
  flex-flow: row wrap;
  align-items: center;
}


.cookie-banner__text {
  display: block;
  width: 100%;

  @include breakpoint(bp2){
    width: auto;
  }
}


.cookies-banner__buttons { 
  display: block;
  width: 100%;
  
  @include breakpoint(bp2){
    display: inline-flex;
    width: auto;
    margin-left: $space_narrow/2;
  }
    
  // Modify button for cookies banner
  .button {
    max-width: 360px;
    padding: $ms-4 $ms-2;
    margin-bottom: $ms-2;
    @include type-small;
    
    .icon {
      right: $ms-2;
      width: 8px;
      @include breakpoint(bp5){
        width: 9px;
      }
    }
    
    @include breakpoint(bp1){
      display: inline-block;
      margin-bottom: 0;
      min-width: 0;
      width: 240px;

      &:last-of-type { margin-left: $space_narrow; }
    }
    @include breakpoint(bp5){
      padding-bottom: $ms-5;
    }
  }
}