/* 
 * 
 * $Cursor
 *
 * El follows cursor around
 * animates when interacting with site
 *
**/

.cursor {
  position: fixed;
  display: none;
  top:-10px;
  left:-9px;
  width: 17px;
  height: 17px;  
  background-color: $brand3;
  border-radius: 100%;
  transition: background-color 1s ease, 
  width .5s ease, 
  height .5s ease, 
  opacity .5s ease, 
  top .5s ease, 
  left .5s ease;
  opacity: 0.85;
  z-index: 11;
  user-select: none;
  pointer-events: none;

  &.hover { 
    top:-24px;
    left:-24px;    
    width: 48px;
    height: 48px;
    opacity: .4 !important;
    background-color: $brand3;
  }   
  &.hover-alt { 
    background-color: $brand2;
  }  

  &.hide {
    opacity: 0 !important;
  }

  &.alt { 
    background-color: $brand2;

    &.hover { 
      background-color: $brand2;
    }    
  }  

  @include breakpoint(bp3){
    display: block;
  }
}