/* 
 * 
 * $Entry
 *
**/

.entry {
  display: block;
  width: 100%;
  margin-bottom: $space_narrow;

  @include breakpoint(bp3) {
    margin-bottom: 0;
  }

  p {
    &:last-of-type {
      margin-bottom: 0;
    }
  }

  p a {
    position: relative;
    font-weight: $fw-regular;
    @extend .highlight;

    @include breakpoint(bp3) {
      &:hover {
        color: $brand2;
      }
    }
  }

  // Styled lists
  ul {
    margin-left: 0;
  }

  p + ul {
    margin-top: $ms4;
  }

  ul li {
    position: relative;
    list-style: none;
    padding-left: 50px;
    margin-top: $ms0;
    margin-bottom: $ms0;

    h5 {
      margin-bottom: $ms-2;
    }
    p {
      margin-bottom: $ms-2;

      &:last-of-type {
        margin-bottom: 0;
      }
    }

    @include breakpoint(bp3) {
      margin-bottom: $ms4;
      padding-left: 80px;
    }

    &:before {
      position: absolute;
      top: -8px;
      left: 0;
      display: block;
      width: 40px;
      height: 40px;
      margin-right: $ms-6;
      content: "";
      background-image: url(#{$base-image-url}/bullet.svg);
      background-position: center;
      background-repeat: no-repeat;
      background-size: 100% auto;

      @include breakpoint(bp3) {
        top: -18px;
        width: 60px;
        height: 60px;
      }
    }
  }
}


.entry--contact {
  @include breakpoint(bp3){
    margin-bottom: $ms2;
  }
}


.entry--project {
  margin-bottom: $space_narrow;
  
  @include breakpoint(bp5) {
    margin-bottom: 0;
  }

  h3 {
    @include type-xl;
    line-height: $ms0;
    font-weight: $fw-regular;
    margin-bottom: $ms-4;

    @include breakpoint(bp4) {
      font-size: $ms2 + 0.125em;
    }
  }

  p {
    &:last-of-type { margin-bottom: 0; }

    @include breakpoint(bp6) {
      @include type-large;
      line-height: $ms0;
    }
  }
}

.entry--project-text,
.entry--child-intro {
  margin-bottom: 0;

  @include breakpoint(bp2) {
   margin-bottom: 0;
  }
}


.entry--team {
  @include breakpoint(bp3) {
    margin-bottom: $space_narrow;
  }
  @include breakpoint(bp4) {
    p:last-of-type {
      margin-bottom: $space_narrow;
    }
  }
}


.entry--space {
  margin-bottom: $space_narrow;

  @include breakpoint(bp3) {
    margin-bottom: $space_mid;
  }  
  @include breakpoint(bp5) {
    margin-bottom: $space_wide;
  }  
}