/* 
 * 
 * $FauxHeader
 *
**/

// Used as a marker for Waypoint
// sticky header animation
.faux-header {
  position: absolute;
  display: block;
  top: calc(100vh + 500px);
  left: 0;
  height: 1px;
  width: 1px;
}
