/* 
 * 
 * $Gallery
 *
**/

.gallery {
	display: flex;
	gap: $space_narrow;
	justify-content: flex-start;
	align-items: center;
	margin:0;
	padding: 0 $space_narrow;
	list-style: none;
	overflow: hidden;
}


.gallery__item {
  display: block;
	flex: 0 0 90%;
	max-width: $max_wrapper/2;
	margin-bottom: 0;
	overflow: hidden;
  @include border-radius($curve);
	@include transition();

	@include breakpoint(bp1){
		max-width: $max_wrapper/3;
	}
	@include breakpoint(bp7){
		max-width: $max_wrapper/2;
	}
}


.gallery__image {
	display: block;
	width: 100%;
	height: auto;
}