/* 
 * 
 * $Hero
 *
**/

.hero {
  display: none;
  position: absolute;
  height: auto;
  z-index: 0;

  @include breakpoint(bp1){
    top:0;
  }
  @include breakpoint(bp2){
    display: block;
    top:auto;
    right: 0;
    bottom: -3%;
    width: 140%;
    animation: fadeIn .4s 1.2s linear both;
    -webkit-animation: fadeIn .4s 1.2s linear both;
  }    
  @media all and (min-width: 768px) and (max-width: 1280px) and (min-height: 900px) {
    width: 180%;
  }
  @include breakpoint(bp4){
    width: 130%;
  }
  @include breakpoint(bp5){
    width: 100%;
  }
}
.hero--creative {
  @include breakpoint(bp3){
    bottom: -15%;
  }
  @include breakpoint(bp5){
    bottom: -7%;
  }
  @include breakpoint(bp7){
    bottom: -5%;
  }
}


// Full screen video
.hero__video {
	position: relative;
	display: block;
	width: 100%;
	aspect-ratio: 16/9;
  margin-top:0;
  padding-bottom:0;
  pointer-events: none;
  overflow: hidden; 
  opacity: 0;
  transition: .3s opacity ease-in-out; 

	background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  &.reveal {
    opacity: 1;
  }

  iframe {
			display: block;
			aspect-ratio: 16/9;
			width: 100%;
			height: auto;
      border: 0;
  }
}


// Static mobile/tablet image
.hero__img-static {
  position: absolute;
  right:0;
  bottom: 0;
  display: block;
  width: 120%;
  max-width: 640px;
  height:auto;

  @include breakpoint(bp2){
    display: none;
  }
}
.hero__img-static--about { 
  right:auto;
  left:5%;
  width: 110%; 

  @media (max-width: 600px) and (min-height: 800px) {
    left:2%;
    width: 130%;
  }
  @include breakpoint(bp1){
    left:auto;
    right:-10%;
  }
}
.hero__img-static--solution { 
  bottom: 3%; 

  @include breakpoint(bp1){
    bottom:-7%;
  }
}