/* 
 * 
 * $Icons
 *
**/

.icon-chevron,
.icon-chevron-down {
  display: block;
  height:auto;

  path {
    fill:none;
    stroke:$brand2;
    stroke-linecap:round;
    stroke-miterlimit:10;
    stroke-width:3;
    @include transition();
  }
}


.icon-bullet {
  path {
    fill:none;
    stroke:$brand1;
    stroke-linecap:round;
    stroke-miterlimit:10;
    stroke-width:1;
    
    &:first-of-type {
      stroke-width:2;
    }
  }  
}


.icon-x {
  display: block;
  width: 32px;
  height: 28px;
  fill:none;
  stroke:$brand2;
  stroke-miterlimit:10; 
  stroke-width:3;
}