/* 
 * 
 * $ImageGroup
 *
**/

.image-group {
  clear: both;
  position: relative;
  display: block;
  width: 100%;
  margin:0 auto;
  max-width: $max_wrapper;
  padding:0 $space_narrow;
  @include clearfix();
  
  @include breakpoint(bp1){
    padding:0 $space_mid;
  }
}


.image-group__image {
  position: absolute;
  display: block;
  overflow: hidden;
  width: calc(50% - 12px);
  height: 0;
  padding-bottom: calc(50% - 12px);
  @include border-radius($curve);

  a {
    display: block;
  }

  &:nth-of-type(1) {
    position: relative;
    width: 60%;
    padding-bottom: 60%;
  }
  &:nth-of-type(2) {
    top:$space_narrow;
    right: $space_narrow;
    width: 40%;
    padding-bottom: 40%;
    z-index: 1;
  }

  &:nth-of-type(3),
  &:nth-of-type(4),
  &:last-of-type { display: none; }    
 
  @include breakpoint(bp1){  
    &:nth-of-type(3) {
      display: block;
    }
    &:nth-of-type(2),
    &:nth-of-type(3) {
      width: 25%;
      padding-bottom: 25%;
    }
    &:nth-of-type(1) {
      top:0;
      left: 30%;
      width: 46%;
      padding-bottom: 46%;
    }
    &:nth-of-type(2) {
      top:$space_wide;
      right: $space_mid;
    }
    &:nth-of-type(3) {
      top:0;
      left: $space_mid;
    }
  }
  @include breakpoint(bp4){  
    &:nth-of-type(4),
    &:nth-of-type(5) {
      display: block;
      top:0;
    }
    &:nth-of-type(1) {
      left:54%;
      width:30%;
      padding-bottom: 30%;
    }
    &:nth-of-type(2) {
      right: $space_wide;
    }
    &:nth-of-type(3) {
      left: 36%;
    }
    &:nth-of-type(4) {
      top:$space_wide;
      left: 18.5%;
      width: 30%;
      z-index: 1;
    }
    &:nth-of-type(5) {
      left: $space_wide;
    }
    &:nth-of-type(2),
    &:nth-of-type(3),
    &:nth-of-type(4),
    &:nth-of-type(5) {
      width:15%;
      padding-bottom: 15%;
    }
  }
  @include breakpoint(bp6){  
    &:nth-of-type(2) {
      right: $space_super_wide;
    }    
    &:nth-of-type(5) {
      left: $space_super_wide;
    }    
  }
}

.section--image-group--top {
  .image-group__image {
    &:nth-of-type(1) {
      left:auto;
      float: right; // floated el as gives container height
    }
    &:nth-of-type(2) {
      right:auto;
      left:$space_narrow;
    }

    @include breakpoint(bp1){  
      &:nth-of-type(1) {
        margin-right: 30%;
      }      
      &:nth-of-type(2) {
        left:$space_mid;
      }      
      &:nth-of-type(3) {
        top:auto;
        bottom: 0;
        left:auto;
        right: $space_mid;
      }      
    }
    @include breakpoint(bp4){  
      &:nth-of-type(1) {
        margin-right: 35%;
      }      
      &:nth-of-type(2) {
        top:auto;
        bottom:$space_mid;
        left:23%;
      }      
      &:nth-of-type(3) {
        top:auto;
        right:$space_wide;
        bottom:0;
        z-index: 1;
      }      
      &:nth-of-type(4) {
        left:auto;
        bottom:0;
        right:19%;
        z-index: 0;
      }      
      &:nth-of-type(5) {
        top:auto;
        bottom:$space_mid;
        left:$space_wide;
      }      
    }
    @include breakpoint(bp6){  
      &:nth-of-type(1) {
        margin-right: 35%;
      }      
      &:nth-of-type(2) {
        top:auto;
        bottom:$space_mid;
        left:24%;
      }      
      &:nth-of-type(3) {
        top:auto;
        right:$space_super_wide;
        bottom:0;
        z-index: 1;
      }      
      &:nth-of-type(4) {
        left:auto;
        bottom:0;
        right:19%;
        z-index: 0;
      }      
      &:nth-of-type(5) {
        top:auto;
        bottom:$space_mid;
        left:$space_super_wide;
      }   
    }
  }
}