/* 
 * 
 * $Instafeed
 *
**/

.instafeed {
  position: relative;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  width: 100%;
  padding-bottom: $space_narrow;
  margin-top: -$space_wide; // pull up above container
  margin-bottom: $space_narrow*1.5;
  border-bottom: 2px solid $brand1;

  img {
    width: 100%;
    height: 100%;
  }

  @include breakpoint(bp1){
    margin-top: $space_mid;
  }
  @include breakpoint(bp3){
    margin-top: 0;
    margin-bottom: $space_super_wide + 1em;
  }
}


.instafeed__image {
  position: relative;
  display: block;
  overflow: hidden;
  width: calc(50% - 12px);
  height: 0;
  padding-bottom: calc(50% - 12px);
  margin-bottom: $space_narrow;
  @include border-radius($curve);

  a { 
    position: absolute;
    display: block; 
    width: 100%;
    height: 100%;
    margin-bottom: 0;
  }

  img {
    position: absolute;
    object-fit: cover;
  }

  @include breakpoint(bp1){
    width: 18%;
    padding-bottom: 18%;
    margin-bottom: 0;
  }

  &:nth-of-type(2) {
    @include breakpoint(bp1){
      transform: translateX(10%);
      position: relative;
      z-index: 1;
    }
  }
  &:nth-of-type(3) {
    @include breakpoint(bp1){
      width: 28%;
      padding-bottom: 28%;
      transform: translate(0%, -20%);
    }
  }
  &:nth-of-type(4) {
    @include breakpoint(bp1){
      transform: translate(10%, -32%);
    }
  }
  &:nth-of-type(5) {
    display: none;
    @include breakpoint(bp1){
      display: block;
      transform: translateY(20%);
    }
  }
}