/* 
 * 
 * $Intro
 *
**/

// Reverse row at breakpoint
.intro-row {
  @include breakpoint(bp4){
    flex-flow: row-reverse;
  }
}


.intro {
  display: block;
  width: 100%;
  margin-bottom: $space_narrow;

  @include breakpoint(bp3){
    margin-bottom: 0;
  }

  p {
    @include type-large;
    line-height: $ms0;

    &:last-of-type { margin-bottom: 0; }

    @include breakpoint(bp4){
      @include type-xl;
      line-height: $ms0;
    }
  }
}

// Template Variation
.intro--light-mode { 
  color: $brand1; 

  a { 
    color: $brand1; 
  }
}

.intro--contact {
  @include breakpoint(bp3){
    margin-bottom: $space_narrow;
  }

  p { 
    margin-bottom: $ms-8; 
  
    a {
      @extend .highlight;
    }
  }
}

.intro--project {
  @include breakpoint(bp5){
    max-width: 680px;
  }
}

// Spacing Variation
.intro--tight { margin-bottom: 0; }


.intro-brand {
  display: block;
  width: 100%;
  max-width: 220px;
  height: auto;
  margin-bottom: $ms-2;
	
  @include breakpoint(bp4){
		max-width: 320px;
    margin:0 auto;
    text-align: center;
  }
}


.intro-title {
  margin-bottom: 0;
  @include font-fancy;
  color: $brand1;
  font-size: $ms2;
  line-height: $ms-1;
  opacity: 0;
  transform: translateY(5%);
  animation: reveal 0.4s ease-in-out both;
  -webkit-animation: reveal 0.4s ease-in-out both;   
}


.intro-title--large {
	font-size: $ms4;
  font-weight: $fw-bold;
  line-height: $ms-1;

	 @include breakpoint(bp1){
    line-height: $ms-1;
  }  
  @include breakpoint(bp3){
    font-size: 3.1em;
  }
  @include breakpoint(bp5){
    font-size: 3.6em;
  }
}


.intro-title--home {
  max-width: 240px;
  margin-top: 0;
  margin-bottom: $ms-5 !important; 

  @include breakpoint(bp1){
    max-width: 340px;
  }  
  @include breakpoint(bp3){
    max-width: 510px;
  }
  @include breakpoint(bp5){
    max-width: 625px;
  }
}

.intro-title--hero {
  @media all and (min-width: 340px) {
    font-size: $ms3;
    max-width: 540px;
  }
  @media all and (min-width: 375px) and (max-width: 768px) and (min-height:900px) {
    font-size: $ms4;
  }  
  @include breakpoint(bp3){
    margin-top: $ms-4;
    margin-bottom: 0;
    font-size: $ms4;
    line-height: $ms-1;
  }
  @include breakpoint(bp5){
    margin-top: $ms-2;
    max-width: 745px;
    font-size: $ms5;
  }
}

.intro-title--project {
  @include breakpoint(bp5){
    margin-top: $ms-2;
    font-size: $ms4;
  }
  @include breakpoint(bp7){
    font-size: $ms5;
  }
}

.intro-title--space {
  margin-bottom: $ms-6;
}

// White body intro title
.body--white .intro-title,
.intro-title--dark { color: $brand2; }
.body--white .intro-title--projects { color: $brand1; }


.section--hero--full-height {
  .intro-title {
    margin-top: $ms-2;
    margin-bottom: $space_narrow/1.25;

    @media all and (max-width: 768px) and (min-height:900px) {
      margin-top: $ms2;
    }
    @include breakpoint(bp7){
      margin-top: $ms2;
    }
  }
}



.intro-subtitle {
  display: block;
  margin-bottom: $space_mid;
  max-width: 340px;
  opacity: 0;
  transform: translateY(5%);
  animation: reveal 0.4s ease-in-out both;
  -webkit-animation: reveal 0.4s ease-in-out both;   

  h2 { 
    margin-bottom: 0;
    @include type-large;
    color: $brand1; 
    line-height: $ms0;
    
    @include breakpoint(bp1){
      @include type-xl;
    }
    @include breakpoint(bp5){
      font-size:$ms1;
    }
  }

  @include breakpoint(bp1){
    max-width:420px;
  }   
  @include breakpoint(bp5){
		max-width: 560px;
		margin-bottom: $space_mid;
  }   
}