/*
 * 
 * $LinkBlock
 *
**/

.link-block {
  display: flex;
  margin-bottom: 0;
  justify-content: center;
  align-items: center;
  padding:$space_narrow/2 0;
}


.link-block__symbol {
  display: inline-block;
  width: 80px;
  height: auto;
  margin-right: $space_narrow;

  @include breakpoint(bp3){
    width: 100px;
  }
  @include breakpoint(bp6){
    width: 120px;
  }
}


.link-block__title {
  display: inline-block;
  @include type-small;
  line-height: $ms0;
  text-transform: uppercase;
  font-weight: $fw-bold;
  letter-spacing: $space_letters;

  @include breakpoint(bp6){
    @include type-medium;
  }
}