/* 
 * 
 * $Link
 *
**/

.link-section {
  @extend .section--black;
  float: left;
  width: 100%;
  padding: $space_narrow 0 0;
}


.link-container {
  display: block;
  width: 100%;
  padding-bottom: $space_narrow;
  border-bottom: 2px solid $brand1;
}


.link {
  display: inline-flex;
  align-items: center;
  align-self: flex-start;
  margin-bottom: 0;
  @include type-medium;
  color:$brand1;
  font-weight: $fw-bold;
  text-transform: uppercase;
  letter-spacing: $space-letters;
  @include transition();    

  @include breakpoint(bp3){
    &:hover {
      color:$brand3;

      svg path {
        stroke: $brand3;
      }
    }      
  }

  .icon {
    width:10px;
    height: auto;
    margin-left: $ms0;

    path {
      stroke: $brand1;
      @include transition();
    }
  
    @include breakpoint(bp3){   
      width:11px;
    } 
    @include breakpoint(bp5){    
      width: 13px;
    }
  }    
}

.link--instafeed {
  position: relative;
  display: flex;
  z-index: 1;
}

.link--right {
  @include breakpoint(bp3){
    float: right;
  }
}