/* 
 * 
 * $ProjectImage
 *
**/

.project-image {
  position: relative;
  display: flex;
  width: 100%;
  margin-bottom: $space_narrow;
  padding-bottom: 99.6%; // not 100% to fix 1px white line bug on chrome
  @include border-radius($curve);
  overflow: hidden;

  .gatsby-image-wrapper,
  .project-image__gif {
    position: absolute !important;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;

    img {
      position: absolute;
      top: 0px;
      left: 0px;
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center center;
    }
  }

  @include breakpoint(bp2) {
    margin-bottom: 0;
  }
}

.project-image--wide {
  margin-bottom: 0;
  padding-bottom: 50%;
}
