/* 
 * 
 * $ProjectVideo
 *
**/

.project-video {
  position: relative;
  display: flex;
  width: 100%;
  margin-bottom: $space_narrow;
  @include border-radius($curve);
  overflow: hidden;  
  z-index: 0;

  iframe {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    border: 0;
  }

  @include breakpoint(bp2) {
    margin-bottom: 0;
  }  
}

// 16:9 
.project-video--wide {
  padding-bottom: 56.25%; // 16:9 ratio (9 / 16 = 0.5625)
}

// Square
.project-video--bg {
  // square image, slightly less than 100% to fix 1px chrome bug
  padding-bottom: 99.6%;
  background-position: center;
  background-size: cover;
  pointer-events: none;
}