/* 
 * 
 * $Quote
 *
 * Extending Blockquote defaults in typography.scss
 *
**/

.quote-container {
  display: block;
  width: 100%;
  margin-bottom: 0;
}


.quote {
  margin: 0 auto;
  max-width: 600px;
  margin-bottom: 0;

  @include breakpoint(bp3){
    display: block;
    max-width: 440px;
  }

  .quote__body {
    margin-bottom: $ms-2;
  }
  
  footer {
    p {
      margin-bottom: $ms-8 - .1em;
      line-height: $ms0;
      @include type-medium;

      &:last-of-type {
        margin-bottom: 0;
        @include font-body;      
        @include type-xsmall;
      }

      @include breakpoint(bp5){
        @include type-xl;

        &:last-of-type {     
          @include type-large;
        }        
      }    
    }
  }
}


.quote-image {
  margin-bottom: $space_narrow;

  @include breakpoint(bp2){
    margin-bottom: 0;
  }
}