/* 
 * 
 * $ScrollMarker
 *
**/

.scroll-marker-container {
  position: relative;
  width: 100%;
  max-width: $max_wrapper;
  margin: 0 auto;
  display: inline-block;
  z-index: 1;
}

.scroll-marker-container--bottom {
	padding: 0 $space_narrow + 0.25em;
	 @include breakpoint(bp1) {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: $space_mid;
  }
		@include breakpoint(bp1) {
		padding: 0 $space_mid + 0.25em;
	}
  @include breakpoint(bp4) {
		padding: 0 $space_wide + 0.25em;
		transform: translateX(-50%);
  }
	@include breakpoint(bp6) {
		padding: 0 $space_super_wide + 0.15em;
	}
}

.scroll-marker {
  display: block;
  margin-bottom: 0;
  cursor: pointer;
  opacity: 0;
  @include animation(3s ease-out bounce infinite);
  transition: 0.3s opacity ease-in-out;

  &.reveal {
    opacity: 1;
  }

  .icon-chevron-down {
    display: inline-block;
    width: 28px;

    path {
      stroke: $brand1;
    }
  }
}
