/* 
 * 
 * $Section
 *
**/

.section {
  float: left;
  width: 100%;
  padding: $space_narrow 0;

  @include breakpoint(bp2) {
    padding: $space_wide 0;
  }
  @include breakpoint(bp6) {
    padding: $space_super_wide 0;
  }
}


// Section Colours
@each $label, $colour in $colours {
  .section--#{$label},
  .body--#{$label} .section--hero {
    background-color: $colour;
  }
}


// Top Content section 
.section--hero {
  position: relative;
  padding-top: 110px;
  padding-bottom: $space_mid;

  @include breakpoint(bp1) {
    padding-bottom: $space_wide;
  }
  @include breakpoint(bp4) {
    padding-top: 170px;
  }
  @include breakpoint(bp6) {
    padding-top: 200px;
    padding-bottom: $space_super_wide;
  }
  @include breakpoint(bp7) {
    padding-top: 250px;
  }
}


.section--hero-home {
    padding-bottom: $space_mid;
}


// Full height section
.section--hero--full-height {
  position: fixed;
  padding-bottom: $space_narrow * 4;
  height: 100vh;
  z-index: 0;
}


// Image Group section
.section--image-group {
  position: relative;
  padding: 0;
  z-index: 0;

  &:before {
    position: absolute;
    display: block;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 50%;
    background-color: $brand2;
  }

  @include breakpoint(bp1) {
    &:before {
      height: 40%;
    }
  }
  @include breakpoint(bp4) {
    &:before {
      height: 28%;
    }
  }
}
.section--image-group--top {
  &:before {
    top: auto;
    bottom: 0;
  }
  @include breakpoint(bp4) {
    &:before {
      height: 38%;
    }
  }
}


/* 
 * 
 * $Project Sections
 *
**/

// Project section full width/height image
.section--full-image {
  position: relative;
  display: flex;
  height: calc(50vh - 42px);
  min-height: 300px;
  padding: 0;
  background-color: darken($brand1, 30%);
  background-size: cover;
  background-position: top center;
  background-repeat: no-repeat;
  
  @include breakpoint(bp4) {
    height: calc(80vh - 50px);
  }
}
.section--full-image--fixed {
  @include breakpoint(bp4) {
    background-attachment: fixed;
  }
}


/*
 * Video sectons
 *
 */

 // Contained video
.section--video {
  padding: 0;
}

// Full width video
.section--full-video {
  position: relative;
  display: flex;
	width: 100%;
	aspect-ratio: 16/9;
  padding:0;
  background-color: darken($brand1, 30%);
  overflow: hidden;

	background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  .section__video {
		width: 100%;
    aspect-ratio: 16/9;
		
		iframe {
			display: block;
			aspect-ratio: 16/9;
			width: 100%;
			height: auto;
			border: 0;
		} 
  }
}


/*
 *
 * Slider section
 *
 */
.section--carousel {
  margin-top: -$space_wide * 1.5;
  padding-top: $space_wide * 1.5;
  padding-bottom: $space_wide/1.5;
  z-index: 0;

  @include breakpoint(bp2) {
    margin-top: -$space_wide * 1.2;
  }
  @include breakpoint(bp4) {
    padding-top: $space_wide * 1.75;
    padding-bottom: $space_wide;
    margin-top: -$space_wide * 1.25;
  }
  @include breakpoint(bp5) {
    padding-top: $space_wide * 1.75;
    padding-bottom: $space_wide;
    margin-top: -$space_wide/1.25;
  }
}



// Footer section containing projects
.section--black {
  .title,
  p,
  h5 {
    color: $brand1;
  }
}


/*
 *
 * Spacing
 *
 */
.section--space-top {
  padding-top: $space_wide;
  
  @include breakpoint(bp2) {
    padding-top: $space_wide*1.5;
  }
  @include breakpoint(bp6) {
    padding-top: $space_super_wide * 1.5;
  }
}
.section--space-bottom {
  padding-bottom: $space_super_wide;

  @include breakpoint(bp5) {
    padding-bottom: $space_super_wide * 1.5;
  }
}
.section--no-space-bottom {
  padding-bottom: 0;
}


// Gallery
.section--gallery {
	padding-bottom: $space_narrow;

	@include breakpoint(bp5) {
    padding-bottom: 0;
  }
}


// Pull up the content beneath this section
.section--pull-up {
  margin-bottom: -$space_narrow * 2;
  
  @include breakpoint(bp2) {
    margin-bottom: -$space_narrow;
  }
  @include breakpoint(bp3) {
    margin-bottom: -$space_mid;
  }
  @include breakpoint(bp5) {
    margin-bottom: -$space_wide;
  }
}


// Nested Section image
.section__image {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}


// Repeatable Project Regions
// - offset pull up sections,
// when certain sections adjacent
.section--region--text {
  @include breakpoint(bp2){
    padding-bottom: $space_mid;
  }
  @include breakpoint(bp5){
    padding-bottom: $space_wide;
  }

  // Adjacent elements to our region text section
  & + .section--region--text,
  & + .section--region--fixed-image {
    padding-bottom: $space_narrow;

    @include breakpoint(bp2) {
      padding-bottom: $space_mid;
    }
    @include breakpoint(bp5) {
      padding-bottom: $space_wide;
    }
  }

  // if full image is below a contained width image
  & + .section--full-image {
    margin-top: -$space_wide;
  }  
}

.section--region--fixed-image {
  position: relative;
  padding-top: 0;
  padding-bottom: $space_narrow;
  z-index: 1;

  @include breakpoint(bp2) {
    padding-bottom: $space_mid;
  }
  @include breakpoint(bp5) {
    padding-bottom: $space_wide;
  }
  @include breakpoint(bp6) {
    padding-bottom: $space_super_wide;
  }

  // if full image is below a contained width image
  & + .section--full-image {
    margin-top: -$space_wide;

    @include breakpoint(bp2) {
      margin-top: -$space_wide * 1.25;
    }
    @include breakpoint(bp5) {
      margin-top: -$space_super_wide * 1.25;
    }
    @include breakpoint(bp6) {
      margin-top: -$space_super_wide * 1.75;
    }
  }  
}

.section--full-image { 
  // if fixed image is below a full image
  & + .section--region--fixed-image {
    padding-top: 0;
    margin-top: -$space_mid;

    @include breakpoint(bp2) {
      margin-top: -$space_narrow;
    }    
    @include breakpoint(bp3) {
      margin-top: -$space_mid * 1.25;
    }    
    @include breakpoint(bp5) {
      margin-top: -$space_wide;
    }    
  }

  // if text and image section is below a full image
  & + .section--region--text {
    padding-top: 0;
    margin-top: -$space_mid;
    
    @include breakpoint(bp2) {
      padding-top: $space_mid;
      margin-top: 0;
    }    
    @include breakpoint(bp3) {
      padding-top: 0;
      margin-top: -$space_mid * 1.25;
    }    
    @include breakpoint(bp5) {
      margin-top: -$space_wide;
    }    
  }
}


// First section region 
.section--region--first {
  padding-top: 0;
}

// Last section region 
.section--region--last {
  padding-bottom: 0;
  margin-bottom: -$space_mid;
  
  @include breakpoint(bp5) {
    margin-bottom: -$space_wide;
  }  
}


// Text and Image content block sections
.section--content-block { 
  position: relative;
  padding-top: 0;
  padding-bottom: $space_mid; 
  z-index: 1;
 
  @include breakpoint(bp3) {
    padding-bottom: 0;
    margin-bottom: -$space_mid;
  }  
  @include breakpoint(bp5) {
    padding-top: 0;
    padding-bottom: 0;
    margin-bottom: -$space_wide;
  }  

  // full image section below a content block
  // Remove top spacing as the pull up
  // is done by the content block itself
  & + .section--full-image {
    margin-top: 0;
  }  
}


.section--tight-top {
  padding: $space_narrow 0 0;

	@include breakpoint(bp2) {
		padding-top: $space_mid;
	}
	@include breakpoint(bp5) {
		padding-top: $space_wide;
	}
}