/* 
 * 
 * $ServiceItems
 *
**/

.service-items {
  float: left;
  width: 100%;
  margin: 0;
  list-style: none;
}

.service-item {
  position: relative;
  float: left;
  width: 100%;
  padding-top: $space_narrow;
  padding-bottom: $space_narrow;
  margin-bottom: 0;
  border-bottom: 2px solid $brand2;

  &:first-child {
    border-top: 2px solid $brand2;
  }

  @include breakpoint(bp3) {
    padding-top: $space_mid;
    padding-bottom: $space_mid;
  }
}

.service-item__title {
  position: relative;
  padding-right: 40px;
  margin-bottom: 0;
  @include type-large;
  font-weight: $fw-regular;
  cursor: pointer;

  @include breakpoint(bp4) {
    @include type-xl;
  }
}

.service-item__body {
  padding-top: $space_narrow / 1.5;

  p {
    &:last-of-type {
      margin-bottom: 0;
    }
  }

  @include breakpoint(bp3) {
    width: 85%;
  }
  @include breakpoint(bp6) {
    width: 66.666%;
  }
}

.service-item__toggle {
  position: absolute;
  display: block;
  top: 50%;
  right: 0;
  transform: translateY(-50%);

  .icon {
    width: 26px;
    height: auto;
  }

  @include breakpoint(bp3) {
    .icon {
      width: 36px;
      height: 28px;
    }
  }
}
