/* 
 * 
 * $SiteOverlay
 *
**/

.site-overlay {
  position: fixed;
  top:0;
  left:0;
  // transform: translateY(100vh); // hide overlay by default
  opacity: 0;
  width: 100%;
  height:100vh;
  background-color: $brand2;
  z-index: 6;
}

// BG colours
@each $label, $colour in $colours {
  .site-overlay--#{$label} { background-color: $colour; }  
}