/* 
 * 
 * $SiteLogo
 *
**/

.site-logo {
  position: relative;
  float: left;
  display: flex;
  margin-left: $ms0 - .05em;
  margin-bottom: 0;
  align-items: center;
  @include font-body;
  @include type-medium;
  font-weight: $fw-bold;
  line-height: 1.8;
  text-transform: uppercase;
  letter-spacing: $space-letters;

  @include breakpoint(bp1) {
    margin-left: $space_mid - .4em;
  }
  @include breakpoint(bp3) {
    &:hover {
      span {
        color: $brand3;
      }
      svg path {
        fill: $brand3;
      }
    }
  }
  @include breakpoint(bp4) {
    margin-left: $space_wide;
  }

  span {
    position: absolute;
    top: auto;
    left:0;
    display: block;
    margin-bottom: 0;
    color: $brand1;
    transform: translate(57px, 0);
    transition: 0.5s color cubic-bezier(0, 0, 0.58, 1);

    @include breakpoint(bp3) {
      transform: translate(67px, 0);
    }
  }

  svg {
    position: relative;
    top: -3px;
    display: block;
    margin-right: 2px;
    width: 52px !important;
    height: auto !important;
    opacity: 1;
    @include transition(opacity 0.5s);

    path {
      fill: $brand1;
      transition: 0.4s fill cubic-bezier(0, 0, 0.58, 1);
    }

    @include breakpoint(bp3) {
      width: 56px !important;
      margin-right: 12px;
    }
  }

  .site-logo__faux {
    position: absolute;
    top: 4px !important;
    left: 9px !important;
    width: 41px !important;
  }
}

.body--white {
  .site-logo {
    span {
      color: $brand2;
    }
    svg path {
      fill: $brand2;
    }

    @include breakpoint(bp3) {
      &:hover {
        span {
          color: $brand3;
        }
        svg path {
          fill: $brand3;
        }
      }
    }
  }

  .sticky-header .site-logo {
    span {
      color: $brand2;
    }
    svg path {
      stroke: $brand2;
    }

    @include breakpoint(bp3) {
      &:hover {
        span {
          color: $brand3;
        }
        svg path {
          fill: $brand3;
          stroke: $brand3;
        }
      }
    }
  }
}
