/* 
 * 
 * $SiteFooter
 *
**/

.site-footer {
  position: relative;
  float: left;
  width: 100%;
  padding:  $space_mid 0;
  background-color: $brand2;
  border-top: 2px solid $brand1;
  z-index: 1;

  @include breakpoint(bp3) {
    padding-top: $space_wide;
    padding-bottom: $space_wide - 0.1em;
  }
  @include breakpoint(bp6) {
    padding-top: $space_super_wide;
    padding-bottom: $space_super_wide;
  }
}

.site-footer__title {
	margin-bottom: $ms-4;
	@include type-large;
	
	a {
		margin-bottom: 0;
		color: $brand3;
		text-transform: uppercase;
		font-weight: $fw-semi-bold;
		font-size: inherit;
	}

	@include breakpoint(bp3) {
		text-align: left;
		margin-bottom: $ms-2;
		@include type-giga;
	}
}

.site-footer__details {
  display: block;
  width: 100%;
	margin: 0;

	li {
		display: block;
    margin-bottom: $ms-1;
	}

  a {
    display: block;
    clear: both;
		margin-bottom: 0;
    color: $brand1;
    font-weight: $fw-regular;
		@include type-large;

    @include breakpoint(bp3) {
			@include type-2xl;
			text-align: left;
    }
  }

}

// Sub Footer
.row--sub-footer {
  flex-flow: row-reverse;
  flex-wrap: wrap-reverse;
  justify-content: center;
	
  @include breakpoint(bp3) {
		margin-top: $ms3;
	}
  @include breakpoint(bp5) {
		margin-top: $ms6;
	}
  @include breakpoint(bp5) {
    flex-flow: row;
    flex-wrap: wrap;
  }
}

.site-footer__links {
  display: flex;
  flex-flow: row wrap;
	justify-content: flex-start;
  width: 100%;
  margin: $ms-2 0 $ms0;
	gap: $ms-4;

  @include breakpoint(bp2) {
		gap: $ms0;
    margin-bottom: $ms2;
  }
  @include breakpoint(bp5) {
		justify-content: end;
		gap: $ms4;
    margin-top: 0;
    margin-bottom: 0;
  }

  li {
    display: block;
    list-style: none;
    width: auto;
    line-height: 1.2;
		margin: 0;
  }

  a {
    @include type-small;
    color: $brand1;
    text-transform: uppercase;
    letter-spacing: $space-letters;
    @include transition();

    @include breakpoint(bp2) {
      &:hover {
        color: $hover;
      }
    }
  }
}

.copyright {
  margin-bottom: 0;
  @include type-small;
  color: $brand1;
  text-transform: uppercase;
}
