/* 
 * 
 * $SiteHeader
 *
**/

// Inner Header
// Contains Logo, Breadcrumbs + Nav Trigger
// full page nav is outside of this
.site-header {
  position: absolute;
  display: block;
  top: 0;
  left: 0;

  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: $ms0 0;
  z-index: 5;
  opacity: 0;
  transition: opacity .4s ease-in-out;   

  // On first render this class is added
  // so we can fade in the header els on first load
  &.reveal { opacity: 1; }

  // When navigation overlay is active
  &.active {
    background-color: transparent;

    .site-logo {
      span {
        color: $brand2;
        transition: 0.6s color cubic-bezier(0, 0, 0.58, 1);
      }
      svg path {
        fill: $brand2;
        transition: 0.6s fill cubic-bezier(0, 0, 0.58, 1);
      }
      @include breakpoint(bp3) {
        &:hover {
          span {
            color: $brand2;
          }
        }
      }
    }
    .site-nav-trigger {
      color: $brand2;
    }
    .breadcrumb {
      &.current {
        a {
          &:before {
            border-color: $brand2;
            background-color: $brand2;
          }
        }
      }

      a {
        color: $brand2;

        &:before {
          border-color: $brand2;
        }

        @include breakpoint(bp3) {
          &:hover {
            &:before {
              background-color: $brand2;
              border-color: $brand2;
            }
          }
        }
      }
    }
  }

  @include breakpoint(bp4) {
    height: 160px;
  }
}

.site-header__tools {
  position: relative;
  display: inline-flex;
  flex-flow: row wrap;
  align-items: center;

  @include breakpoint(bp2) {
    padding-right: $space_wide + $space_narrow * 2;
  }
  @include breakpoint(bp4) {
    padding-right: $ms8 + $ms6;
  }
  @include breakpoint(bp6) {
    padding-right: $space_super_wide * 2;
  }
}

.site-header__telephone {
  display: block;
  margin-bottom: 0;
  @include type-large;
  font-weight: $fw-regular;
  text-decoration: none;

  @include breakpoint(bp1) {
    @include type-xl;
  }
  @include breakpoint(bp4) {
    font-size: $ms2;
  }
  @include breakpoint(bp6) {
    @include type-2xl;
  }
}
