/* 
 * 
 * $SiteNav
 *
**/

.site-nav-trigger {
  float: right;
  padding: 0;
  margin: 0 $space_narrow 0 0;
  @include font-body;
  font-size: 1em; // adjust to fix logo alignment
  color: $brand1;
  line-height: $ms1;
  font-weight: $fw-bold;
  text-transform: uppercase;
  letter-spacing: $space-letters;
  background: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  @include transition(0.5s);
  z-index: 3;

  &.active {
    color: $brand3;
  }

  @include breakpoint(bp1) {
    margin-right: $space_mid;
  }
  @include breakpoint(bp2) {
    // pos:absolute on wider displays to stop it
    // shifting left when no scrollbar on full page menu
    position: absolute;
    top: auto;
    right: $space_mid;
    margin-right: 0;
  }
  @include breakpoint(bp3) {
    &:hover {
      color: $brand3;
    }
  }
  @include breakpoint(bp4) {
    right: $space_wide;
  }
}
.body--white {
  .site-nav-trigger,
  .sticky-header .site-nav-trigger {
    color: $brand2;
  }
  .site-nav-trigger {
    @include breakpoint(bp3) {
      &:hover {
        color: $hover;
      }
    }
  }
  .site-header .site-nav-trigger.active {
    @include breakpoint(bp3) {
      &:hover {
        color: $brand2;
      }
    }
  }
  .sticky-header .site-nav-trigger.active {
    @include breakpoint(bp3) {
      &:hover {
        color: $brand2;
      }
    }
  }
}

.site-nav {
  position: fixed;
  top: 0;
  right: 0;
  transform: translateY(-110%);
  display: block;
  width: 100%;
  height: 100%;
  background-color: $brand3;
  transition: all 0.75s cubic-bezier(0.645, 0.045, 0.355, 1); /* easeInOutCubic */
  z-index: 3;

  &.active {
    // Fade and shift Nav items when nav enabled
    .site-nav__items li {
      opacity: 1;
      transform: translate(0, 0);
      transition: 0.5s transform cubic-bezier(0, 0, 0.58, 1),
        0.25s opacity cubic-bezier(0, 0, 0.58, 1);
    }
  }
}

.nav__inner {
  position: absolute;
  display: block;
  top: 42%;
  left: $space_narrow;
  transform: translateY(-50%);

  @include breakpoint(bp1) {
    top: 48%;
    left: $space_mid;
  }
  @include breakpoint(bp4) {
    top: 50%;
    left: $space_wide;
  }
  @include breakpoint(bp6) {
    top: 48%;
    left: 33.333%;
    transform: translate(-50%, -50%);
  }
  @media all and (max-height: 540px) {
    top: 56%;
  }
}

.site-nav__items {
  display: block;
  width: 100%;
  padding: 0;
  margin: 0;
  @include transition(0.2s);
  transition-delay: 0s;

  li {
    display: block;
    margin: 0;
    list-style: none;
    text-align: left;
    opacity: 0;
    transform: translate(0, -5%);
    transition: all 1s ease-out;
    // Apply fix for transition wobble on webkit
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;

    &:last-child {
      margin-bottom: 0;
    }

    @media (min-height: 900px) {
      margin-bottom: $ms-6;
    }
  }

  a {
    position: relative;
    display: inline-block;
    margin-bottom: 0;
    @include font-fancy;
    font-size: $ms2;
    color: $brand2;
    font-weight: $fw-semi-bold;
    line-height: $ms0;
    overflow: hidden;

    span {
      transition: color 0.15s linear;
      transition-delay: 0ms;
    }

    @include breakpoint(bp1) {
      font-size: $ms4;
    }
    @include breakpoint(bp4) {
      font-size: $ms4;
    }
    @include breakpoint(bp6) {
      font-size: $ms5;
    }
    @media all and (max-height: 540px) {
      @include type-xl;
      line-height: $ms-1;
    }
  }
}

// Nav item fade transition timings
@for $i from 1 through 5 {
  .site-nav.active li:nth-child(#{$i}) {
    transition-delay: #{$i/5.5 + 0.45}s;
  }
}

// Nav item current and hover colours
@each $label, $colour in $colours {
  .site-nav .current .#{$label} {
    color: $colour;
  }
  @include breakpoint(bp4) {
    .site-nav .#{$label} {
      &:hover {
        color: $colour;
      }
    }
  }
}

// Footer containing social + phone
.nav__footer {
  position: absolute;
  display: flex;
  flex-flow: row wrap;
  width: 100%;
  left: 0;
  bottom: $space_narrow * 1.5;
  padding-left: $space_narrow;
  padding-right: $space_narrow;
  transition: opacity 0.5s ease-out;

  @media all and (max-height: 540px) {
    display: none;
  }
  @include breakpoint(bp1) {
    bottom: $space_mid;
    padding-left: $space_mid;
    padding-right: $space_mid;
  }
  @include breakpoint(bp3) {
    align-items: center;
    justify-content: space-between;
  }
  @include breakpoint(bp4) {
    left: 0;
    bottom: $space_wide/1.4;
    padding-left: $space_wide;
    padding-right: $space_wide;
  }
  @include breakpoint(bp6) {
    bottom: $space_wide/1.2;
    padding-left: $space_super_wide;
    padding-right: $space_super_wide;
  }
}
