/* 
 * 
 * $Socials
 *
**/

.socials {
  display: flex;
  flex-flow: row wrap;
  width: 100%;
  margin:0 0 $space_narrow;

  @include breakpoint(bp3){
    width: auto;
    margin-bottom: 0;
  }

  li {
    width: 100%;
    list-style: none;
    line-height: $ms-2;

    &:last-child {
      margin-bottom: 0;
    }
    
    @include breakpoint(bp1){
      width:auto;
      margin-right: $space_narrow;
      margin-bottom: 0;
    }
    @include breakpoint(bp4){
      margin-right: $space_mid;
    }
    
    a {
      display: inline-block;
      margin-bottom: 0;
      @include type-small;
      text-transform: uppercase;

      @include breakpoint(bp4){
        @include type-medium;
      }  
    }
  }
}