/* 
 * 
 * $StickyHeader
 *
**/

.sticky-header {
  position: fixed;
  top: 0;
  left: 0;
  transform: translateY(-100%);
  transition: transform 0.35s cubic-bezier(0.645, 0.045, 0.355, 1);

  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-between;

  width: 100%;
  min-height: 46px;
  padding: $ms-4 0;

  background-color: $brand8;
  z-index: 10; // above nav overlay

  .site-logo {
    span {
      transform: translate(7px, 0);
    }
  }

  &.active .site-logo {
    span {
      color: $brand1;
    }
    svg path {
      fill: $brand1;
    }
  }
  .site-nav-trigger {
    color: $brand1;
  }

  .breadcrumb {
    a {
      color: $brand1;

      &:before {
        border-color: $brand1;
      }

      @include breakpoint(bp3) {
        &:hover {
          &:before {
            background-color: $brand1;
            border-color: $brand1;
          }
        }
      }
    }
    &.current {
      a {
        &:before {
          border-color: $brand1;
          background-color: $brand1;
        }
      }
    }
  }
}

// Background Colours
@each $label, $colour in $colours {
  .sticky-header--#{$label} {
    background-color: $colour;
  }
}

// Modify colour when on black
.sticky-header--black {
  background-color: $brand8;
}

// Main Brand Logo under sticky header
.sticky-header__logo {
  @extend .site-logo;
}

// Braecrumbs and Nav trigger tools
.sticky-header__tools {
  @extend .site-header__tools;
}
