/* 
 * 
 * $SubNav
 *
**/

.subnav {
  display: block;
  width: 100%;

  ul {
    margin:0;
  }   

  li {
    position: relative;
    margin-bottom: $ms-6;
    list-style: none;
    
    &:last-child { margin-bottom: 0; }
    
    &.current {
      opacity: 0.4;
      a { 
        cursor: default; 
        
        @include breakpoint(bp3){
          &:hover {
            color: $brand1;
          }
        }
      }
    }  

    @include breakpoint(bp3){
      margin-bottom: $ms-1;
    }
    
    a {
      display: block;
      padding-right: $ms0;
      margin-bottom: 0;
      @include type-small;
      line-height: $ms1;
      text-transform: uppercase;
      font-weight: $fw-regular;
      letter-spacing: $space-letters;
      @include transition();
      cursor: pointer;

      // Current item
      &[aria-current="page"]{
        color:$brand3;
    
        .icon-chevron {
          path {
            stroke: $brand3;
          }
        }      
      }        
  
      @include breakpoint(bp3){
        line-height: $ms0;
  
        .icon-chevron { @include transition(.2s); }
   
        &:hover {
          color:$hover;
  
          .icon-chevron {
            transform: translate(5px, -50%);
  
            path {
              stroke: $hover;
            }
          }
        }
      }
      @include breakpoint(bp6){
        @include type-medium;
        line-height: $ms1;
      }
    }
  
    .icon-chevron {
      position: absolute;
      top:50%;
      right:0;
      transform: translateY(-50%);
      width:9px;
    
      @include breakpoint(bp3){   
        width:11px;
      } 
      @include breakpoint(bp6){    
        width: 14px;
      }    
    }
  }  
}


.subnav__title {
  margin-top: $ms-4;
  margin-bottom: $space_narrow/2;
  color:$brand1;

  @include breakpoint(bp2){
    @include type-xl;
  }
  @include breakpoint(bp4){
    margin-top: 0;
  }
}


.section--black .subnav li,
.section--hero .subnav li {
  a {
    color: $brand1;

    // Current item
    &[aria-current="page"]{
      color:$brand3;
  
      .icon-chevron {
        path {
          stroke: $brand3;
        }
      }      
    }  

    .icon-chevron {
      path {
        stroke: $brand1;
      }
    }

    @include breakpoint(bp3){
      &:hover {
        color: $brand3;

        .icon-chevron {
          path {
            stroke: $brand3;
          }
        } 
      }
      
      // Current hover   
      &[aria-current="page"]{
        &:hover {
          .icon-chevron {
            transform: translate(0, -50%);
          }
        }
      }        
    }
  }
}