/* 
 * 
 * $Team
 *
**/

.team {
  position: relative;
  display: block;
  width: 100%;
  z-index: 1;
}


.team__name {
  margin-bottom: $ms-8;
  @include font-fancy;
  @include type-xl;
  color: $brand1;
  line-height: $ms-2;

  @include breakpoint(bp1){
    font-size: $ms2;
  }  
}


.team__role {
  margin-bottom: 0;
  @include type-small;
  color: $brand1;
  text-transform: uppercase;
  letter-spacing: $space-letters;
}


.team__image {
  position: relative;
  margin-top:-$space_mid;
  margin-bottom: $space_narrow/2;
  display: block;
  width: 100%;
  max-width: 180px;
  height: 180px;
  @include border-radius($curve);
  z-index: 1;

  @include breakpoint(bp1){
    margin-top:-$ms5;
    margin-bottom: $space_narrow;
  }
}