/* 
 * 
 * $Title
 *
**/

.title {
  @include font-fancy;
  font-size: $ms2;

  @include breakpoint(bp1){
    font-size: $ms3;
  }
  @include breakpoint(bp4){
    font-size: $ms4;
  }
}

.title--sub {
  @include breakpoint(bp4){
    font-size: $ms2;
  }
}

.title--space {
  margin-bottom: $space_narrow/1.25;
  @include breakpoint(bp4){
    margin-bottom: $space_narrow/1.5;
  }  
}

.title--project-footer {
  margin-bottom: $ms-4;
  color: $brand1;
  font-size: $ms2;
  line-height: $ms0;
  max-width: 440px;
  
  @include breakpoint(bp1){
    @include type-2xl;
  }
  @include breakpoint(bp3){
    margin-bottom: 0;
    max-width: none;
    font-size: $ms4;
  }
  @include breakpoint(bp5){
    font-size: $ms5;
  }
  @include breakpoint(bp7){
    @include type-mega;
  }
}