/* 
 * 
 * $Colours
 *
**/

/*================*
 * Define colours
 *================*/

// Whites
$white: #f4f4f4;
$pure_white: #fff;

// Blacks 
$noir: #252835;
$charcoal: #3b3e49;

/* Yellows */
$banana: #fbdd44;

/* Reds */
$red_pastel: #e0485d;

// Blues
$blue_sea: #2a57d3;

/* Greens */
$aqua: #1faa9f;

/* Oranges */
$orange: #ea6d4b;


/*================*
 * Brand Colours
 *================*/
$brand1: $white;
$brand2: $noir;
$brand3: $banana;
$brand4: $red_pastel;
$brand5: $blue_sea;
$brand6: $aqua;
$brand7: $orange;
$brand8: $charcoal;
$brand9: $pure_white;


$hover: $brand3; // the site has 1 consistent hover colour
$link_marker: rgba(251, 221, 68, 1);
$error: $red_pastel;


// Colours List for looping 
$colours: 
  "white" $white,
  "pure-white" $pure_white,
  "black" $noir,
  "red" $red_pastel,
  "blue" $blue_sea,
  "green" $aqua,
  "orange" $orange,
  "charcoal" $charcoal;