/* 
 * 
 * $Mixins
 *
**/

/*Breakpoints*/
 @mixin breakpoint($point) {
    @if $point == bp7 {
    @media (min-width: $bp7) { @content ; }
    }
    @if $point == bp6 {
	 @media (min-width: $bp6) { @content ; }
  }
    @if $point == bp5 {
     @media (min-width: $bp5) { @content ; }
  }
   @if $point == bp4 {
     @media (min-width: $bp4) { @content ; }
  }
   @else if $point == bp3 {
     @media (min-width: $bp3) { @content ; }
  }
    @else if $point == bp2 {
     @media (min-width: $bp2) { @content ; }
  }
   @else if $point == bp1 {
     @media (min-width: $bp1)  { @content ; }
  }
  @else if $point == mobileonly {
     @media (max-width: 37.5em)  { @content ; }
  }
}


/*Clearfix*/
@mixin clearfix() {
    zoom: 1;
    &:after {
        display: block;
        visibility: hidden;
        height: 0;
        clear: both;
        content: "";
    }
}


/*Border Radius*/
@mixin border-radius($radius: 6px) {
    -webkit-border-radius:   $radius;
    -moz-border-radius:      $radius;
    border-radius:           $radius;
    -moz-background-clip:    padding;
    -webkit-background-clip: padding-box;
    background-clip:         padding-box;
}


/*Transition*/
@mixin transition($prop: all, $time: 0.2s, $ease: linear) {
    -webkit-transition: $prop $time $ease;
    -moz-transition: $prop $time $ease;
    -ms-transition: $prop $time $ease;
    -o-transition: $prop $time $ease;
    transition: $prop $time $ease;
}


/*Keyframes Mixin*/
@mixin keyframes($animation-name) {
    @-webkit-keyframes #{$animation-name} {
        @content;
    }
    @-moz-keyframes #{$animation-name} {
        @content;
    }  
    @-ms-keyframes #{$animation-name} {
        @content;
    }
    @-o-keyframes #{$animation-name} {
        @content;
    }  
    @keyframes #{$animation-name} {
        @content;
    }
}

@mixin animation($str) {
  -webkit-animation: #{$str};
  -moz-animation: #{$str};
  -ms-animation: #{$str};
  -o-animation: #{$str};
  animation: #{$str};
}


/*Fade In*/
@keyframes fadeIn {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}


/*Reveal*/
@keyframes reveal {
  0%   { 
    opacity: 0; 
    transform: translateY(5%);
  }
  100% { 
    opacity: 1; 
    transform: translateY(0%);
  }
}


// Generic Border
@mixin border() {
  border:2px solid $brand2; 
  /* Prevent lines disappearing mainly on safari */
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  
}


// Safari weird bug fix for rounded corners with hover
@mixin safari-overflow-fix() {
  -webkit-mask-image: -webkit-radial-gradient(white, black);
}

/*Bounce*/
@include keyframes(bounce) {
	0%,
	30%,
	45%,
	55%,
	100% {
		-webkit-transform: translateY(0);
		        transform: translateY(0);
	}
	40% {
		-webkit-transform: translateY(-6px);
		        transform: translateY(-6px);
	}
	50% {
		-webkit-transform: translateY(-6px);
		        transform: translateY(-6px);
	}
}
