/* 
 * 
 * $Base - Base Variables
 *
**/

/*Base paths*/
$base-url: "/";
$base-image-url: "../images";


/*Breakpoints*/
$bp1: 600px;
$bp2: 768px;
$bp3: 900px;
$bp4: 1020px;
$bp5: 1280px;
$bp6: 1460px;
$bp7: 1930px;


/*Letter Spacing*/
$space-letters: 0.075em;


/* Base font sizes */
$base-font-size--narrow: 18;
$base-font-size--tablet: 18;
$base-font-size--medium: 19;
$base-font-size--wide: 19;

/*Font weight*/
$fw-regular: 400;
$fw-semi-bold: 600;
$fw-bold: 700;


/* Using Modular Scale 
---------------------- 
theory based on http://modularscale.com
---*/

/*Base type values for modular scale*/
$ideal-number: $base-font-size--wide;
$ratio: 1.215;

/*Convert pixels to ems*/
@function em($px, $base: $base-font-size--wide) {
    @return ($px / $base) * 1em;
}

$base-value: $ideal-number * $ratio;
$ms0: em($base-value);

/*Smaller than base*/
$ms-1: $ms0 / $ratio;
$ms-2: $ms-1 / $ratio;
$ms-3: $ms-2 / $ratio;
$ms-4: $ms-3 / $ratio;
$ms-5: $ms-4 / $ratio;
$ms-6: $ms-5 / $ratio;
$ms-7: $ms-6 / $ratio;
$ms-8: $ms-7 / $ratio;

/*Larger than base*/
$ms1: $ms0 * $ratio;
$ms2: $ms1 * $ratio;
$ms3: $ms2 * $ratio;
$ms4: $ms3 * $ratio;
$ms5: $ms4 * $ratio;
$ms6: $ms5 * $ratio;
$ms7: $ms6 * $ratio;
$ms8: $ms7 * $ratio;

/*-------------------*/


/* 
 * Base spacing
 * based on modular scale value
 */
$max_wrapper: 1680px;

$space_narrow: $ms1;
$space_mid: $ms3;
$space_wide: $ms6;
$space_super_wide: $ms8;

/* Default Radius */
$curve: $ms-5;