/*
 *
 * $Forms - Base form styles
 *
**/

$form-input-bg: transparent;
$form-input-text: $brand2;

form {
  display: flex;
  width: 100%;
  max-width: 760px;
  flex-flow: row wrap;
  justify-content: space-between;
}

label {
  display: block;
  width: 100%;
  margin-bottom: $ms-5;
  @include font-body;
  @include type-small;
  color: $brand2;
  text-transform: uppercase;
  font-weight: $fw-semi-bold;
  letter-spacing: $space-letters;
}

input[type="text"],
input[type="email"],
input[type="number"],
input[type="tel"],
input[type="password"],
textarea {
  position: relative;
  display: block;
  width: 100%;
  padding: $ms-2 0;
  margin-bottom: 0;
  @include font-body;
  @include type-medium;
  line-height: 1;
  color: $form-input-text;
  background-color: $form-input-bg;
  border: none;
  border-bottom: 2px solid $brand2;
  @include border-radius(0);
  -webkit-appearance: none; // turn off rounded edges on webkit mobile
  @include transition();
  outline: none;
  z-index: 1;

  &::-webkit-input-placeholder {
    color: $brand8;
  }
  &:-ms-input-placeholder {
    color: $brand8;
  }
  &::-moz-placeholder {
    color: $brand8;
  }
  &:-moz-placeholder {
    color: $brand8;
  }

  // Reset Webkit autofill colour
  &:-webkit-autofill,
  &:-webkit-autofill:hover,
  &:-webkit-autofill:focus {
    padding-left: $ms0;
    -webkit-text-fill-color: $brand2;
    -webkit-box-shadow: 0 0 0px 1000px $brand3 inset;
  }

  &:focus {
    padding-left: $ms0;
    outline: none;
    border-color: $brand3;
    background-color: $brand3;
  }
}

textarea {
  padding: $ms-6;
  height: 240px;
}

.form__group {
  position: relative;
  float: left;
  width: 100%;
  margin-bottom: $ms0;

  p {
    margin-bottom: $ms-3;
  }

  &:last-of-type {
    margin-bottom: 0;
  }

  @include breakpoint(bp1) {
    margin-bottom: $ms2;
  }
}
.form__group--inline {
  @include breakpoint(bp1) {
    display: inline-block;
    width: 47%;
  }
}

.form__label {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  z-index: 0;
}
.form__label--textarea {
  top: $ms0;
  left: $ms0;
  transform: none;
}
.form__label--checkbox {
  position: relative;
  top: auto;
  left: auto;
  display: flex;
  align-items: center;
  text-transform: unset;
  transform: none;
  @include type-small;
  font-weight: $fw-regular;

  span {
    display: block;
    width: 100%;
  }
}

// Text
.form__input {
  position: relative;
  z-index: 1;
}

// Select
.form__select {
  display: block;
  width: 100%;
  max-width: 340px;
  height: 55px;
  padding: 0 $ms0;
  @include font-body;
  @include type-medium;
  background-color: $form-input-bg;
  border: 0;
  outline: none;
  -webkit-input-appearance: none;
  @include border-radius($curve/2);

  @include breakpoint(bp1) {
    height: 56px;
  }
  @include breakpoint(bp2) {
    height: 62px;
  }
}
.form__select--title {
  max-width: 140px;
}

// Textarea
.form__input--textarea {
  padding: $ms0 $ms0 0;
  line-height: $ms0;
  border: 2px solid $brand2;
  @include border-radius($curve);
}

// Checkbox
.form__checkbox {
  position: absolute; // take it out of document flow
  opacity: 0; // hide it

  & + label {
    position: relative;
    cursor: pointer;
    padding: 0 0 0 30px;
    margin-bottom: 0;
    line-height: $ms0 + 0.125em;

    a {
      letter-spacing: $space-letters;
    }
  }

  // Box.
  & + label:before {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    content: "";
    margin-right: 10px;
    display: inline-block;
    width: 18px;
    height: 18px;
    background-color: transparent;
    border: 2px solid $brand2;
    @include border-radius(100%);
  }

  // Disabled state label.
  &:disabled + label {
    color: #b8b8b8;
    cursor: auto;
  }

  // Checkmark. Could be replaced with an image
  &.form__checkbox--checked + label:after {
    position: absolute;
    top: 50%;
    left: -4px;
    transform: translateY(-50%);
    content: "";
    width: 26px;
    height: 26px;
    background-image: url(#{$base-image-url}/x.svg);
    background-position: center;
    background-repeat: no-repeat;
    @include border-radius(100%);
  }
}

// Terms
.form__terms {
  display: flex;
  width: 100%;
  flex-flow: row wrap;
}

.form__terms__input {
  display: inline-flex;
  width: 100%;
  align-items: center;
  padding: $ms-2;
  margin-bottom: 0;
  border: 2px solid $brand2;
  border-bottom-width: 0;
  border-radius: $curve $curve 0 0;

  @include breakpoint(bp2) {
    width: 60%;
    border-bottom-width: 2px;
    border-right-width: 0;
    border-radius: $curve 0 0 $curve;
  }
}


// Field Error messages
.form__error {
  position: absolute;
  bottom: -40px;
  display: block;
  width: 100%;
  margin-bottom: 0;
  @include type-small;
  color: $error;
}

// Success message
.form__success {
  display: none;
  padding: $space_narrow 0;
  margin-bottom: 0;
  @include type-large;
  font-weight: $fw-semi-bold;
}
