/* 
 * 
 * $Structure
 *
**/

body {
  background-color: $brand1;
  scroll-behavior: smooth;

  &.body--no-scroll {
    // Disable scroll when set on body
    // Used for changing pages via nav or internal links
    overflow: hidden;
  }
}

// Colours
@each $label, $colour in $colours {
  .body--#{$label} .site-wrapper { background-color: $colour; }  
}


// Gatsby Overwrites
// Transition portal sits el on top of content
.gatsby-plugin-transition-link-portal {
  width: 100vw; // let's give it width though
}


// Wrapper for main body content 
// Differentiates from the fixed hero el
.main-content {
  position: relative;
  float: left;
  width: 100%;
  background-color: $brand1;
  z-index: 0;
  margin-top: 100vh;
}
.main-content--home {
  margin-top: 0;
}
.main-content--project { 
  margin-top: 0;
  background-color: $pure_white; 
  @include transition();
}
.main-content--contact {
  margin-top: 0;
  background-color: $orange;   
}
.main-content--half {
  margin-top: 0;
}