/*
 *
 * $Typography - Base font styles
 *
**/

/*Check _base.scss for base font sizes and modular scale variables*/

/*Base font styles*/
$base-line-height: $ms1 - 0.125em;
$base-font-weight: $fw-regular;
$base-font-color: $brand2;
$base-font-alignment: left;

@mixin font-body {
  font-family: "proxima-nova", sans-serif;
}
@mixin font-fancy {
  font-family: "proxima-nova", serif;
}

/* Common Text Sizes */
@mixin type-xsmall {
  font-size: $ms-3;
}
@mixin type-small {
  font-size: $ms-2;
}
@mixin type-medium {
  font-size: $ms-1;
}
@mixin type-large {
  font-size: $ms0;
}
@mixin type-xl {
  font-size: $ms1;
}
@mixin type-2xl {
  font-size: $ms3;
}
@mixin type-giga {
  font-size: $ms4;
}
@mixin type-mega {
  font-size: $ms6;
}

/* ==================
 * Apply text styles
 * ==================*/

body {
  @include font-body;
  font-size: $base-font-size--narrow * 1px;
  line-height: $base-line-height;
  font-weight: $base-font-weight;
  color: $base-font-color;
  word-wrap: break-word;
  font-kerning: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  @include breakpoint(bp1) {
    font-size: $base-font-size--tablet * 1px;
  }
  @include breakpoint(bp5) {
    font-size: $base-font-size--medium * 1px;
  }
  @include breakpoint(bp6) {
    font-size: $base-font-size--wide * 1px;
  }
}
.section--noir {
  color: $base-font-color;
  a {
    color: $base-font-color;
  }
}

p,
a {
  margin: 0 0 $ms-2;
  padding: 0;
  text-align: $base-font-alignment;
  font-weight: $fw-regular;
  letter-spacing: 0;
}

a {
  color: $base-font-color;
  text-decoration: none;
}

p a {
  font-weight: $fw-bold;
  @include transition();

  @include breakpoint(bp2) {
    &:hover {
      color: $brand3;
      text-decoration: none;
      @include transition();
    }
  }
}

sub,
sup {
  @include type-xsmall;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0;
  margin: 0 0 $ms-3;
  @include font-body;
  line-height: $ms0;
  font-weight: $fw-semi-bold;
  letter-spacing: 0;

  @include breakpoint(bp3) {
    line-height: $ms1;
  }
}

h1 {
  margin-bottom: $ms-2;
  font-size: $ms2;

  @include breakpoint(bp7) {
    @include type-mega;
  }
}
h2 {
  @include type-2xl;
}
h3 {
  @include type-xl;
}
h4 {
  @include type-large;
}
h5 {
  @include type-medium;
  margin-bottom: $ms0;
  text-transform: uppercase;
}
h6 {
  @include type-small;
}

p + h1,
p + h2,
p + h3,
p + h4,
p + h5,
p + h6 {
  margin-top: $ms2;
}

ul,
ol {
  padding: 0;
  margin: 0 0 $ms1 $ms0;
}
li {
  padding: 0;
  margin: 0 0 $ms-4;
  line-height: $ms1;
}

strong {
  font-weight: $fw-bold;
}

sub,
sup {
  font-size: 0.55em;
}
sup {
  position: relative;
  top: -8px;
  vertical-align: super;
}

abbr[title] {
  text-decoration: none;
}

::-moz-selection {
  color: $brand1;
  background: $brand2;
}

::selection {
  color: $brand1;
  background: $brand2;
}

.keyline {
  display: block;
  margin: 0;
  width: 100%;
  height: 0;
  border: 0;
  border-bottom: thin solid $brand2;
}

blockquote {
  display: block;
  width: 100%;
  padding: 0;
  margin: 0 0 $space_narrow;
  line-height: $ms1;

  @include breakpoint(bp6) {
    margin-bottom: $space_wide;
  }

  p {
    @include font-fancy;
    @include type-large;
    line-height: $ms1 - 0.125em;

    &:last-of-type {
      margin-bottom: 0;
    }

    @include breakpoint(bp4) {
      font-size: $ms1;
    }
    @include breakpoint(bp6) {
      font-size: $ms1 + 0.2em;
      line-height: $ms0;
    }
  }
}

.highlight {
  font-weight: $fw-regular;
  background-image: linear-gradient(to right, $link_marker 100%, #fff 0);
  margin-left: -1px;
  margin-right: -1px;
  background-repeat: repeat-x;
  background-position: 0 100%;
  background-size: 100% 5%;
  @include transition();

  @include breakpoint(bp3) {
    &:hover {
      color: $brand2;
      background-size: 100% 100%;
    }
  }
}
.highlight--light-mode {
  color: $brand1;
}
